<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/jquery-1.11.0.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
</head>
<body>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>\{{title}}</h1>
    <div class="body">
      \{{body}}
    </div>
  </div>
</script>
<script>
  var source   = $("#entry-template").html()
  var template = Handlebars.compile(source)
  var context = {title: "My New Post", body: "This is my first post!"}
  var html    = template(context)
  console.log(template(context))
</script>
</body>
</html>
